In [2]:
import pandas as pd
import numpy as np

In [31]:
!ls

Apelin.csv               Data_apelin.csv          decoy.csv
Apelin.ipynb             Similarity.ipynb         enrichment_plot.png
Compare_1.png            active_decoy.smi
Data.ipynb               active_pharmacophore.smi

In [50]:
df_active = pd.read_csv('active_decoy.smi', header = None)
df_active.columns = ['Smiles']

df_active['active'] = 1

df_active['ID'] = 0
for i, j in enumerate(df_decoy['ID']):
    j = 'decoy_'+'i'
df_active[['ID', 'Smiles', 'active']]

df_active.head(2)

                                              Smiles  active  ID
0  CCC(CC)n1c(Cc2cccs2)nc2cc(C(=O)NC(CC3CCCC3)C(=...       1   0
1  CCC(CC)n1c(Cc2cccs2)nc2cc(C(=O)NC(CC3CCC3)C(=O...       1   0

In [49]:
df_active.shape

(8, 3)

In [51]:
df_decoy = pd.read_csv('decoy.csv', usecols =['decoy'])
df_decoy.rename(columns = {'decoy':'Smiles'}, inplace = True)
df_decoy['active'] = 0

df_decoy['ID'] = 0
for i, j in enumerate(df_decoy['ID']):
    j = 'decoy_'+'i'
df_decoy[['ID', 'Smiles', 'active']]

df_decoy.head(5)

                                              Smiles  active  ID
0  S(C(=Cc1nccc(Cn2c(C)c(C(=O)N3CC=C(C)CC3)c(CNC(...       0   0
1  S(C(C)C)CC=Cc1c(N(C(=O)c2cc(NC3N(c4ccccc4)N=CC...       0   0
2  FC(C(C=C)=CC)=C(C(=CC(F)F)C)CN(C)c1ncc(C(=O)N=...       0   0
3  Fc1c(C(C#N)CCN(CCOc2c(F)cccc2)c2c(NC(C)c3c4c(s...       0   0
4  FC(F)CN1C(C(CC)C)CCc2c(ccc(C(Nc3c(N(C(=O)CN(C)...       0   0

In [52]:
df_all = pd.concat([df_active, df_decoy], axis =0).reset_index(drop = True)
df_all.head(2)

                                              Smiles  active  ID
0  CCC(CC)n1c(Cc2cccs2)nc2cc(C(=O)NC(CC3CCCC3)C(=...       1   0
1  CCC(CC)n1c(Cc2cccs2)nc2cc(C(=O)NC(CC3CCC3)C(=O...       1   0

In [53]:
df_all.to_csv('Data_apelin.csv')

In [54]:
active = pd.read_csv('active_pharmacophore.smi', header = None)
active.columns = ['Smiles']

In [57]:
active.Smiles[0]

'CCC(CC)n1c(Cc2cccs2)nc2cc(C(=O)N[C@H](CC(=O)O)CC(C)C)ccc21'